div(ng-controller="getFood").container

    div(ng-show="mode == 'SEARCH'").jumbotron
        .input-group.input-group-lg#input
            input.form-control(type='text', placeholder='Location', ng-model="location")
            span.input-group-btn
                button.btn.btn-default(type='button', ng-click="findMe()") Find Me

        .input-group.input-group-lg#input
            input.form-control(type='text', aria-label='...', placeholder="Food", ng-model="term")
            .input-group-btn
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Find Food
                    span.caret
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a() Find Food
                    li(ng-repeat="food in foods")
                        a(ng-click="findFood($index)") {{ food }}

        button.btn.btn-default.btn-primary(type="button", ng-click="search()") Search


    div(ng-repeat="restaurant in restaurants | limitTo:3" ng-show="mode == 'LIST'")
        div.panel.panel-default(ng-init="genDirectionsLink(restaurant.location.display_address[0], $index)")
            div.panel-heading
                h3 {{ restaurant.name }}
            div.panel-body
                img(src="{{ restaurant.rating_img_url }}")
                br
                img(src="{{ restaurant.image_url }}")#input
                br
                button.btn.btn-default
                    a(href="{{selectRestaurant($index)}}") Take Me Here
