div(ng-controller="viewRestaurant", ng-show="ready", ng-init="genMap()")
    div.panel.panel-default
        div.panel-heading
            h3 {{ restaurant.name }}
        div.panel-body
            img(src="{{ restaurant.rating_img_url }}")
            br
            img(src="{{ restaurant.image_url }}")
            br
            a(href="{{ restaurant.url }}").spacing Yelp Website
            div#map.spacing
            a(href="{{ restaurant.directionsLink }}")
                button.btn.btn-default Directions