extends layout

block content
    script(src="/js/base.js")
    link(rel="stylesheet", type="text/css", href="/css/base.css")
    .jumbotron
        .input-group.input-group-lg.input-spacing.food-input
            input#location.form-control(placeholder="Location")
        .input-group.input-group-lg.food-input.input-spacing
            input#term.form-control(placeholder="Search Term")
        .input-group.input-group-lg
            button.btn.btn-primary.btn-lg(onclick="getFood()") GO!
            
    .row#resturants
