<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Get Me Food</title>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
</head>
<body>
    <h1>Links</h1>
    <ul>
        <li>
            <a href="#/greeting">Greeting</a>
        </li>
        <li>
            <a href="#/spicy">Spicy</a>
        </li>
        <li>
            <a href="#/double">Double</a>
        </li>
        <li>
            <a href="#/alert">Alert</a>
        </li>
    </ul>
    <h1>Views</h1>
    <div ng-view></div>
</body>
</html>