doctype html
html(lang='en')
    head
        //Meta Base
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //Meta Data
        title Get Me Food
        meta(name='description', content='An app for finding restaurants.')
        meta(name='author', content='Elias Lawson-Fox')
        //Styles
        link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(href='/css/jumbotron-narrow.css', rel='stylesheet')
        link(rel="stylesheet", type="text/css", href="/css/base.css")
        //Dependencies
        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        //Scripts
        script(src="/js/src/main.js")
        script(src="/js/src/routes.js")
        script(src="/js/src/services/api.js")
        script(src="/js/src/services/yelp.js")
        script(src="/js/src/services/gMaps.js")
        script(src="/js/src/controllers/home.js")
        script(src="/js/src/controllers/getFood.js")

    body(ng-app="getMeFood")
    .container
        .header.clearfix
            nav
                ul.nav.nav-pills.pull-right
                    li.active(role='presentation')
                        a(href='#/') Home
                    li(role='presentation')
                        a(href='#/getFood') Get Food
            h3.text-muted Get Me Food
        div(ng-view)
        footer.footer
            p Elias Lawson-Fox (2015)
                a(href="http://github.com/eliaslfox") @eliaslfox
