extends layout

block content
    if (!user)
        .jumbotron
            h1 Welcome
            p
                a.btn.btn-primary.btn-lg(href="/passport/register") Register
    if(user)
        .jumbotron
            h1 Welcome, #{user.username}
            p
                a.btn.btn-primary.btn-lg(href="/food") Get Food
